.ProfileRightbarFollowBtn{
    width: 90px;
    margin-top: 30px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    background-color: #1872f2;
    color: white;
    padding: 8px 13px;
    font-weight: 500;
    font-size: 15px;
    cursor: pointer;
    transition: background-color .5s;
}

.ProfileRightbarFollowBtn:focus{
    outline: none;
    
}
.ProfileRightbarFollowBtn:hover{
    background-color: #1759b5;
}
.profileRightbarTitle{
    font-size: 18px;
    font-weight: 500px;
    margin-bottom: 10px;
}
.profileRightbarInfo{
    margin-bottom: 30px;
}
.profileRightbarInfoItem{
    margin-bottom: 10px;
}
.profileRightbarInfoKey{
    font-weight: 500;
    margin-right: 10px;
    color: #555;
}
.profileRightbarInfoValue{
    font-weight: 300;
}
.profileRightbarFollowings{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
}
.profileRightbarFollowing{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    cursor: pointer;
}

.profileRightbarFollowingImg{
    width: 100px;
    width: 100px;
    background-position: center;
    aspect-ratio: 1/1;
    border-radius: 5px;
    object-fit: cover;
}